.flexcontainer {
    position:absolute;
    top:140px;

    display: flex;
    flex-flow: row wrap;
    
}

.innerbox {
    flex: 1 0 33.333333333333%;
    
    min-width:600px;
    object-fit: cover;
}

.innerbox:nth-child(4n-3) {
    background-color: #eb5c5c;
}
.innerbox:nth-child(4n-2) {
    background-color: #AEE6D3;
}
.innerbox:nth-child(4n-1) {
    background-color: #E9B8A8;
}
/* .innerbox:nth-child(5n-1) {
    background-color: #77CFD6;
} */
.innerbox:nth-child(4n) {
    background-color: #F0EDBB;
}

.innerbox:hover {
    animation-name: hoverArt;
    animation-duration: 3s;
    animation-direction: both;
}

.contentbox {
    height: calc((100vh - 140px) / 2);
    width: 540px;

    padding:30px;
}

.flexcontainer:last-child {
    justify-content: center;
}

@media(max-width:600px) {
    .flexcontainer {
        position:absolute;
        top:140px;
    
        display: flex;
        flex-flow: column;
    }
    
    .innerbox {
        flex: 1 0 20%;
        
        width: 100vh;
    
        object-fit: cover;
    }

    .contentbox {
        width:100%;
    }
}

@keyframes hoverArt {
    0% {}
    15% {filter:brightness(105%);}
    85% {filter:brightness(105%);}
    100% {}
}